@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*:focus {
    outline: none !important;
    box-shadow: none !important;
}    



a:not([class*='text-']) {
  color: inherit;
}  

a {
  text-decoration: none;
}  

body {
  display: none;

}  


html, body {
    overflow-x: hidden; 
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
button,
p,
a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}

.my-hero-providers {
  background: url('../img/providerback.png'), url('../img/providerback2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.my-hero-welcome {
  background: url('../img/back-header.png'), url('../img/back-header-back.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.download-app-section {
  background: url('../img/Rectangle%2020.png'), url('../img/Rectangle%2019.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#Home-Providers nav div h3::after {
  content: "Home/Providers";
  font-size: 15px;
  color: #727d93;
  display: block;
  visibility: visible;

}

@media (min-width: 768px) {
  #Home-Providers nav div h3::after {
    font-size: 20px; 
  }
}

.btndown{
  display: flex !important; 
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
